canvas {
  border: 5px solid #000;
}

.info {
width: 150px;
height: 100px;
float: right;
text-align:center;
font-family: Helvetica;
margin:auto;
padding: 20px;

}
h3 {
  color:red;
}

.red {
  color:red;
}

.blue {
  color:blue;
}