table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
 
}

th, td, tr {
  width: 70px;
  height: 70px;
}

#Player1 th {
color: green;
}

#Player2 th {
  color: orange;
}

 td {
  background-color: white;
  height: 20px;
  width: 20px;
}

#player1 td.active {
  background-color: green;
}

#player2 td.active {
  background-color: orange;
}